# Dependencies
node_modules
npm-debug.log

# Next.js build output
.next
out

# Environment files
.env
.env.*

# Git
.git
.gitignore

# Editor files
.vscode
.idea
*.sublime-*

# Testing
coverage
*.spec.ts
*.test.ts
jest.config.js

# Temp files
tmp
temp
*.log

# Docker files
Dockerfile
.dockerignore

# Misc
README.md
LICENSE
*.md 